<!DOCTYPE html>
<html lang="en">
   <head>
      <title>iKnow</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="description" content="Assignment for lesson number 2 for Miguel Marin in WDD 230: Web Frontend Development at Brigham Young University - Idaho" />
      <link rel="stylesheet" href="../lesson3/css/normalize.css" />
   </head>
   <body>
      <header>
         <h1>Design Principles Document</h1>
         <h2>Miguel Marin</h2>
         <ul>
            <li><a href="{% url 'home-page' %}" class="button-design">Log In</a></li>
            <li><a href="{% url 'services' %}" class="button-design">Services</a></li>
            <li><a href="{% url 'about-us-spanish' %}" class="button-design">Español</a></li>
         </ul>
      </header>
      <main>
         <h3 id="color1">Color 1: 6B7AB4</h3>
         <h3 id="color2">Color 2: 91D3DB</h3>
         <h3 id="color3">Color 3: 37A4A0</h3>
         <h3 id="color4">Color 4: a2325d</h3>
         <h3 id="color5">Color 5: EE296B</h3>
      </main>
      <footer>
         <p id="copyright">&copy;<span id="year"></span> | Miguel Marin | Utah</p>
      </footer>
      <script src="../lesson3/js/year.js"></script>
   </body>
</html>